<section>
  <div class="home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1519682337058-a94d519337bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80'); background-position: center; background-size: cover;">
    <div class="container mt-5">
      <div class="text-center">
        <h1>What to read</h1>
        <br>
        <p>Find books recommended by your friends</p>
        <br>
        <% if user_signed_in? %>
          <%= link_to "Let's get started", books_path , class: "btn-start" %>
        <% else %>
          <%= link_to "Let's get started", new_user_session_path , class: "btn-start" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <div data-aos="fade-up">

  <div class="container my-5">
    <h1 class="text-center">How it works</h1>
    <br>
    <div class="cards">
     <div class="how-to-card">
        <i class="fas fa-book-open icon"></i>
        <p>Upload your books</p>
      </div>
      <div class="how-to-card">
        <i class="fas fa-star-half-alt icon"></i>
        <p>Give it a rating</p>
      </div>
      <div class="how-to-card">
        <i class="fas fa-users icon"></i></i>
        <p>Connect with your friends</p>
      </div>
      <div class="how-to-card">
        <i class="fas fa-lightbulb icon"></i>
        <p>Get inspiration</p>
      </div>
    </div>
  </div>

  </div>
</section>

<section>
  <div class="examples">

  </div>
</section>
