<div class="container">
  <h1>Need some inspiration?</h1>
  <h2>Find books your friends love here</h2>

  <% @books.each do |book| %>
    <%= image_tag book.cover %>
    <%= book.title %> by <%= book.author %>
  <% end %>
</div>
