<div class="container">
  <div class="text-center mt-3">
    <h1>Need some inspiration?</h1>
    <h3>Find books your friends love</h2>
  </div>

  <div class="cards mt-5">
    <% @books.each do |book| %>
    <div class="book-card">
      <%= image_tag book.cover %>
      <div class="book-details">
        <p class="title"><%= book.title %></p>
        <p class="author"><%= book.author %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
