.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .how-to {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .how-to {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .how-to {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .how-to {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .how-to {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// ---------------------- How-to Card --------------------

.how-to-card {
  text-align: center;
}

.how-to-card p {
  margin-top: 15px;
}

// ---------------------------- Book Card ----------------

.book-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.book-card > img {
  height: 170px;
  width: 120px;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 10px;
  border-radius: 4px;
}

.book-details .title {
  font-weight: bold;
}

.book-details .author {
  font-weight: lighter;
  color: gray;
}
